.menu {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    border-top: 1px solid #f3f3f3;
    padding-top: 1em;
}

.item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.5em;
    text-decoration: none;
}

.active {
    border-left: 0.2em solid #0d6efd;
    background-color: rgba($color: #0d6efd, $alpha: 0.08);
}

.icon {
    margin-right: 0.5em;
}
